.home {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;

  &__header {
    flex: 1;
    padding: 20px;
  }

  &__body {
    flex: 1;
    padding: 20px;
  }

  &__title {
  }
}
